/* This selects all header 1s */
h1{
    color: wheat;
    background-color: slategray;
    font-size: 40px;
    text-decoration: underline;
    font-family: Arial;
    text-align: center;

    /* border-width: 2px;
    border-style: solid;
    border-color: black; */
    border: 4px solid crimson;
}

ul{
    list-style-type: square;
}

li{
    text-shadow: 2px 2px lightblue;
    display: inline;
    margin: 5px;
    padding: 2px;
}

h1.title_heading{
    color: black;
}